<div class="col-sm-7">

  <div class="card shadow mb-2 mt-2">
    <div class="card-body">
      <h5 class="card-title"><%= @seminar.name %></h5>
      <div class="row mt-3">
        <div class="col-sm-7">
          <h6>From: <span class="badge badge--secondary">
            <%= @seminar.start_date.strftime('%a') %> <%= @seminar.duration_expression %>
          </span></h6>
          <h6>Hours: <span class="badge badge--secondary">
            <%= @seminar.daily_hours_expression %>
          </span><h6>
        </div>
        <div class="col-sm-5">
          <h6>Total seats: <span class="badge badge--secondary">
            <%= @seminar.total_seats %></span>
          </h6>
          <h6>Remaining seats: <span class="badge badge--secondary">
            <%= @seminar.remaining_seats %></span>
          </h6>
          <h6>Registration Fee: <span class="badge badge--secondary">
            <%= to_dollars(@seminar.registration_fee) %></span>
          </h6>
        </div>
      </div>

        <div class="col-12">
          <div class="form__textarea">
            <p class="mt-2 mb-2"><%= simple_format(@seminar.description) %></p>
          </div>
        </div>

    </div>

    <div class="card-body">
      <%= link_to "Back...", seminars_path, class: "btn btn--primary" %>
      <% if @seminar.upcoming? %>
        <%= link_to "Edit", edit_seminar_path(@seminar), class: "btn btn--secondary" %>
      <% end %>
    </div>
  </div>

</div>

<div class="col-sm-5">
  <div class="card shadow mb-2 mt-2">
    <div class="card-body">
      <% if @seminar.upcoming? %>
        <h5 class="card-title">Reserve your seat!</h5>
        <%= bootstrap_form_tag url: :bookings, data: {turbo: false } do |f| %>

          <%= f.hidden_field :seminar_id, value: @seminar.id %>

          <%= f.text_field :full_name, wrapper_class: 'mb-2 form--label-float',
                            floating: true,  required: true %>
          <%= f.text_field :email_address, wrapper_class: 'mb-2 form--label-float',
                            floating: true, required: true  %>
          <%= f.text_field :contact_number, wrapper_class: 'mb-2 form--label-float',
                            floating: true, required: true  %>
          <%= f.number_field :ticket_qty, wrapper_class: 'mb-2 form--label-float',
                            floating: true,  required: true,
                            min: 1, max: @seminar.remaining_seats %>

          <hr>
          <h5 class="mt-0 mb-0">Payment card details</h5>
          <hr>
          <%= f.text_field :card_number, wrapper_class: 'mb-2 form--label-float',
                          floating: true, required: true  %>

          <div class="row">
            <div class="col-sm-4">
                <%= f.text_field :cvv, label: "CVV", wrapper_class: 'mb-2 form--label-float',
                                  floating: true, required: true,
                                  maxlength: 3 %>
            </div>

            <div class="col-sm-4">
              <%= f.number_field :exp_month, label: "Month", wrapper_class: 'mb-2 form--label-float',
                                  floating: true, required: true,
                                  min: 1, max: 12 %>
            </div>

            <div class="col-sm-4">
              <%= f.number_field :exp_year, label: "Year", wrapper_class: 'mb-2 form--label-float',
                                  floating: true,  required: true,
                                  min: 2023, max: 2030 %>
            </div>
          </div>

          <div class="d-grid gap-2">
            <%= f.submit "Place Booking", class: "btn btn--primary mt-2" %>
          </div>

        <% end %>
      <% else %>
        <h6>This seminar has completed.</h6>
        <h6>Please seek a future offering.</h6>
      <% end %>
    </div>
  </div>
</div>



